<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!--
        <Console name="Console">
            <PatternLayout pattern="%-5level %c{1.} %msg%n"/>
        </Console>
        -->
        <Routing name="LoggingFile">
            <TimeIsSetFilter/>
            <Routes pattern="x">
                <Route>
                    <File name="MyFile" createOnDemand="true" fileName="${roborio:logdir}/${roborio:timestamp}.log">
                        <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
        <DriverStation name="DS">
            <PatternLayout pattern="%-5level %c{1.} %msg%n"/>
        </DriverStation>
        <!--
        <StringAppender name="SA"/>
        -->
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="DS"/>
            <AppenderRef ref="LoggingFile"/>
            <!--
            <AppenderRef ref="Console"/>
            <AppenderRef ref="SA"/>
            -->
        </Root>
        <Logger name="com.example" level="INFO" />
    </Loggers>
</Configuration>